<header class="hd-img">
  <div class="overlay"></div>
  <div class="container">
    <div class="hd-title">

      <%- partial('_partial/post/title', {
        post: page, 
        page_type: 'article', 
        class_name: 'article-top-title'
      }) %>

      
      <%# if (page.subtitle) { %>
      <!--
      <h2><%#= page.subtitle %></h2>
      -->
      <%# } %>
      

      <div class="article-meta">
        <%- partial('_partial/post/date', {
          post: page, 
          page_type: 'article', 
          class_name: 'article-date',
          date_format: 'll'
        }) %>
        <%- partial('_partial/post/category', {post: page}) %>
      </div>
  </div>
</header>

<div id="article-page" class="container">

  <article class="article-content">            
    <%- page.content %>
  </article>
  
  <%- partial('_partial/post/nav',{post: page}) %>
  
  <%- partial('_partial/comment',{post: page}) %>

</div>