<%
    var title = page.title;

    if (is_archive()){
      title = __('archives');
      } else if (is_category()){
      title = __('category') + ' @' + page.category;
      } else if (is_tag()){
      title = __('tag') + ' #' + page.tag;
    }
%>

<header class="hd-img">
  <div class="overlay"></div>
  <div class="container">
    <div class="hd-title">
      <h1 class="article-top-title"><%- title %></h1>

      <% if (is_archive()) { %>
        <div class="article-meta">
        <span><%- _p('archive.posts', site.posts.length) %></span>
      <% } %>
      
    </div>

  </div>
</header>

    <div class="archive-page container">
    <% var last; %>
    <% page.posts.each(function(post, i){ %>
        
        <% var year = post.date.year(); %>
        
        <% if (last != year){ %>
            <% if (last != null){ %>
                </div></section>
            <% } %>
            <% last = year; %>
            <section class="archive-wrap">
            <div class="archive-year-wrap">
                <a class="archive-year"><%= year %></a>
            </div>
            <div class="archives">
        <% } %>

        <article class="archive-article archive-type-<%= post.layout %>">

            
            <%- partial('_partial/post/date', {
              post: post, 
              page_type: 'archive', 
              class_name: 'archive-article-date', 
              date_format: 'MM/DD'
            }) %>

            <%- partial('_partial/post/title', {
              post: post, 
              class_name: 'archive-article-title',
              page_type: 'archive'
            }) %>
           
        
        </article>


    <% }) %>

    <% if (page.posts.length){ %>
    </div></section>
    <% } %>

    <% if (page.total > 1){ %>
    <nav id="archive-page-nav">
      <% var prev_text =  __('prev');var next_text = __('next') %>
      <%- paginator({
        prev_text: prev_text,
        next_text: next_text
      }) %>
    </nav>
    <% } %>

    </div>

