<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- baidu-site-verification -->
  <% if (theme.baidu_site_verification.enable) { %>
  <meta name="baidu-site-verification" content= "<%= theme.baidu_site_verification.content %>" />
  <% } %>

  <!-- Google Analytics -->
  <% if (theme.gtag.enable) { %>
  <%- partial('gtag') %>
  <% } %>

  <%
    var title = page.title;

    if (is_archive()){
      title = __('archives');
      } else if (is_category()){
      title = __('category') + ' @' + page.category;
      } else if (is_tag()){
      title = __('tag') + ' #' + page.tag;
    }
  %>
  
  <title><% if (title){ %><%= title %> - <%= config.title %><% } else { %><%= config.title %> - <%= config.subtitle %><% } %></title>
  <link rel="icon" href="/img/favicon.png" />
  <%- css('css/find') %>
  <%- js('js/jquery.min.js') %>
  <%- js('js/find.js') %>
</head>